<html lang="es"></html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/homehandlebars.css" />
    <title>Real Time Products</title>
  </head>
  <body>
    <div class="product-list-container">
    <h1>Lista de Productos</h1>

    <ul id="productList">
        {{#each products}}
          <li>
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Código: {{this.code}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Status: {{this.status}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Thumbnails: {{this.thumbnails}}</p>
            <button class="deleteBtn" data-id="{{this.pid}}">Eliminar</button>
          </li>
        {{/each}}
    </ul>
</div>
    <div>
      <h2 id="h2">Agregar Producto</h2>
      <form id="productForm">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>

    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" required>

    <label for="code">Código:</label>
    <input type="text" id="code" name="code" required>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>

        <label for="code">Status:</label>
    <input type="text" id="code" name="code" required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>

    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" required>

    <label for="thumbnails">Thumbnails:</label>
    <input type="text" id="thumbnails" name="thumbnails">

    <button type="submit">Agregar Producto</button>
</form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>